*:not(input):not(textarea) {
    margin: 0;
    padding: 0;
    border: none;
}
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
body {
    font-family: 'robotoregular', Arial, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6,strong,b {
    font-family: 'robotobold';
    font-weight: normal;
}
em,i {
    font-family: 'robotoitalic';
    font-style: normal;
}
#container {
    margin: 0 auto;
    width: 100%;
    background: #fff;
}
header {
    background: #FFFFFF;
}
header h1 {
    margin: 0;
}
#logo {
    padding: 20px;
}
#navigation {
    float: left;
    width: 100%;
    background: #000000;
    display: inline;
}
#navigation ul {
    margin: 0;
    padding: 0;
    float:left;
}
#navigation ul li {
    list-style-type: none;
    display: inline;
}
#navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border-right: 1px solid #fff;
}
#navigation li a:hover {
    background: #00b050;
}
main {
    float: left;
    width: 100%;
}
main > section {
    float: left;
    width: 100%;
    background: #f2f2f2;
}
main > section > .sidebar {
    display: inline;
    width: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
main > section > .sidebar.left {
    float: left;
}
main > section > .sidebar.left ul {
    margin: 0;
    padding: 0;
}
main > section > .sidebar.left ul li {
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
}
#content {
    float: left;
    width: 60%;
    padding: 20px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border-width: 0 1px 0 1px;
    border-color: #ccc;
    border-style: solid;
}
#content h2 {
    margin: 0;
}
main > section > .sidebar.right {
    float: right;
}
main > section > .sidebar.right h3 {
    margin: 0;
}
footer {
    clear: both;
    background: #ccc;
    text-align: left;
    padding: 20px;
    height: 1%;
}
#comandaTa{
    float:right;
      background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#home{
    float:left;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#wrap{
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
#columns:hover figure:not(:hover) {
	opacity: 0.4;
}
div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}
button#button1{
  padding:10px;
  background:salmon;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
  float:left;
  
}
button#button1:hover{
  background:#ff6536;
  border-bottom:3px solid salmon;
  color:#f1f2f3;
}
button#button{
  padding:10px;
  background:salmon;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
  float: right;
  
}
button#button:hover{
  background:#ff6536;
  border-bottom:3px solid salmon;
  color:#f1f2f3;
}
@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
}
@media screen and (max-width: 767px) {
  #columns figure { width:32%;}
}
@media screen and (max-width: 600px) {
  #columns figure { width: 49%;}
}
@media screen and (max-width: 500px) {
  #columns figure { width: 100%;}
}


main > section > #hero-image {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5981c7129f7456741cde6662/1513941017953-6Q55TMKWDS8GMWUWD346/ke17ZwdGBToddI8pDm48kDS1aw2_hYhFB7WHkkwfdJh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0nQwvinDXPV4EYh2MRzm-RQHSy5V6b-KY6D17SIavIKKLf449zCDhbGsw3hugV_FKw/clem-onojeghuo-197516.jpg?format=1500w");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.price_old{
    color:red;
    text-decoration: line-through;
    
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}